@import "https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap";

/* global */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

/* header and navigation */

.header {
  width: 100%;
  height: 20vh;
  max-height: 80px;
  display: block;
  background-color: #FFF;
  margin: 10px;
}

.inner-header {
width: 90%;
height: 100%;
display: block;
margin: 0px auto;
}

.logo-container {
height: 100%;
display: table;
float: left;
max-width: 100%;
}

.logo-container img {
height: 50%;
display: table-cell;
padding:;
background-color: transparent;
}

.navigation {
float: right;
height: 100%;
}

.navigation a {
float: left;
display: table;
height: 100%;
padding: 2vw 2vw;
}

.navigation a li {
display: table-cell;
height: 100%;
font-family: "Work Sans";
font-size: 1em;
}

.navigation a:last-child {
padding-right: 0px;
}

/* page content */

section {
  padding-left: 31.6%;
  padding-right: 31.6%;
  margin: 60px 0 auto 0;
  display: block;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 30px;
}

.paragraph-container {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #202020;

}

.paragraph-items {
  padding-bottom: 1.5em;
}

/*
h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.6;
}

body {
  font-family: "Source Sans Pro";
    font-size: 16px;
}
*/