@import "https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap";

/* global */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

/* header and navigation */

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #FFF;
    margin: 10px;
}

.inner-header {
  width: 1333px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo-container {
  height: 100%;
  display: table;
  float: left;
  max-width: 100%;
}

.logo-container img {
  height: 50%;
  display: table-cell;
  padding: 20px 0;
  background-color: #FFF;
}

.navigation {
  float: right;
  height: 100%;
}

.navigation a {
  float: left;
  display: table;
  height: 100%;
  padding: 0px 20px;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  font-family: "Work Sans";
  font-size: 16px;
}

.navigation a:last-child {
  padding-right: 0px;
}

/* d3 map read only view */

#d3-map {
  width: 1333px; 
  height: 471px; 
  margin: 0 auto;
  background-color: #F2F3F7;
  order: none; 
  position: relative;
}

/* body */

#content {
  margin: 2% 15.20%;
}

#text- {
  width: 514px;
  height: 277px;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5em;
  color: #202020;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1em;
}

.btn {
  padding: 0px 20px;
  height: 40px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #FFF;
  text-transform: uppercase;
  border: transparent;
  border-radius: 10px;
  background: linear-gradient(45deg, #1DC5E9, #1DE0C4);
}

#sign-up-banner img{
  width: 1440px;
  height: 100vh;
}